<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="<%= description %>">
<meta name="author" content="">
<link rel="icon" href="favicon.ico">

<title><%= title %></title>

<!-- Bootstrap core CSS -->
<link href="//cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/public/assets/styles/dashboard.css" rel="stylesheet">
<link href="/public/assets/styles/backgrid.min.css" rel="stylesheet">
<link href="/public/assets/styles/backgrid-filter.min.css" rel="stylesheet">
<link href="/public/assets/styles/backgrid-select2-cell.min.css" rel="stylesheet">
<link href="/public/assets/styles/backgrid-paginator.min.css" rel="stylesheet">
<link href="/public/assets/styles/select2.css" rel="stylesheet">
<link href="/public/assets/styles/select2-bootstrap.css" rel="stylesheet">
<link href="/public/assets/styles/bootstrap-select.css" rel="stylesheet">
<link href="/public/assets/styles/animate.min.css" rel="stylesheet">
<link href="/public/assets/styles/jquery.jqplot.min.css" rel="stylesheet">