<!DOCTYPE html>
<html>
<head>
    <title>Sharp Inventory Control</title>
    <link href='//fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet/less" type="text/css" href="assets/styles/home.less" />
    <script src="assets/javascript/less-1.4.1.min.js" type="text/javascript"></script>

</head>
<body>
<section id="splash">
    <div class="logo">
        <img src="assets/images/Sharpic-Green-01.png" alt="Sharp Inventory Control Inc.">

    </div>
    <hr>
    <p>SERVING THE <span>Greater Toronto Area</span></p>
    <p>We are currently serving clients by referrals only.
        Sorry for the inconvenience and we thank you all for your support.</p>
    <footer>
        <p>Copyrighted &copy; 2013 Sharp Inventory Control Inc.</p>
    </footer>
</section>
</body>
</html>