// Colors
@darkGreen:		#2C1507;
@lightGreen:		#86b25f;

// Functions
.gradient(@color: #F5F5F5, @start: #EEE, @stop: #FFF) {
  background: @color; /* Old browsers */
  background: -moz-linear-gradient(top,  @start 0%, @stop 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@start), color-stop(100%,@stop)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  @start 0%,@stop 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  @start 0%,@stop 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  @start 0%,@stop 100%); /* IE10+ */
  background: linear-gradient(to bottom,  @start 0%,@stop 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@start', endColorstr='@stop',GradientType=0 ); /* IE6-8 */
}

// Page CSS
body {
  padding: 0px;
  margin: 0px;
  .gradient(@darkGreen, @darkGreen, darken(@darkGreen, 1%));
  font-size: 10px;
  font-family: arial;/*'Quicksand', sans-serif;*/
}

#splash {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  .logo {
    margin-top: 10%;
    > img {
      display: block;
      width: 700px;
      margin: 0 auto;
    }
  }
  hr {

    border: 0px;
    background-color: darken(@darkGreen, 4%);
    border-bottom: 1px solid lighten(@darkGreen, 3%);
    height: 1px;
  }
  p {
    margin: 0 auto;
    padding: 20px;
    width: 60%;
    letter-spacing: 10px;
    text-align: center;
    color: @lightGreen;
    span {
      margin: 10px 0px;
      display: block;
      font-size: 1.5em;
      letter-spacing: 18px;
      color: lighten(@lightGreen, 15%);
      font-weight: bolder;
    }
  }
  footer {
    width: 100%;
    p {
      text-align: center;
      color: lighten(@darkGreen, 8%);
      letter-spacing: 2px;
    }
  }
}